body
  background-color: $ustri-dark
  font-size: 16pt
  color: $ustri-light
  font-family: 'Noto Sans', sans-serif

.content:nth-child(even)
  background-color: $ustri-dark
  color: $ustri-light

  a
    color: $ustri-light
    transition: 300ms ease


    &:hover
      background-color: $ustri-light
      color: $ustri-dark

.content:nth-child(odd)
  background-color: $ustri-light
  color: $ustri-dark

  a
    color: $ustri-dark

    &:hover
      background-color: $ustri-dark
      color: $ustri-light

.content

  border-bottom: $content-border
  padding: 3em .5em

  // a
  //   transition: 300ms ease

  a.content--dojo-link
    display: inline;

  blockquote
    line-height: 1.5
    margin-left: 3em
  p
    padding: 1em
    line-height: 1.5
    text-indent: 1.5em

    .special-offer
      margin: 1em
      padding: 0 1em
      background-color: #f2f2f2
      color: $ustri-dark
      display: inline-block

    .special-offer--free
      font-weight: bold

    &:last-child
      padding-bottom: 0;

  &:after,
  &:before
    content: ""
    display: table
    clear: both

.content--body
  max-width: $content-max-width
  margin: 0 auto

.content--body--inner
  &:after
    content: ''
    display: table
    clear: both

.content--aside,
.content--aside--location
  height: 325px;
  width: 100%

.by-line
  white-space: pre-wrap
  line-height: 1.3em
  padding-left: 1.5em


@media (min-width: 690px)
  .content
    padding: 5em 1em

@media (min-width: 850px)

  .content
    padding: 7em 1em

    p
      padding: 1em 0

  .content--aside,
  .content--aside--location
    float: right
    width: 65%
    margin: 0 0 0 1em

  .content:nth-child(odd)
    .content--aside,
      float: left
      margin: 0 1em 0 0

  .content--aside--location-left
    float: left
    margin: 0 1em 0 0

  .content--aside--location-rigth
    float: right

    h1, h2, h3, h4
      margin-left: 0

@media (min-width: $content-max-width)
  .content
    padding: 10em 0