.site-title
  font-size: 1.3em

.site-title--name-line + .site-title--name-line
  margin-top: 8px

.site-title--name
  display: inline-block
  padding-left: 2.8em
  background-image: url('images/ustri-light.png')
  background-repeat: no-repeat
  background-size: contain

.site-title--name-line--sub-title
  margin-top: 1em
  text-align: center
  font-size: .75em

@media (min-width: 816px)
  .site-title
    width: 772px
    display: block
    margin: 0 auto
