include ./partials/_header.jade

section.content
  h2 Dojo

  h3#honbu Michigan Honbu Dojo - East Lansing, Michigan

  p The Michiagan Honbu dojo is the headquarters for Tamiya Ryu Iajiutsu operations in the United States. Surrounded by a beautiful Japanese garden, this traditional dojo was built from plans based on a traditional Japanese training hall.

  aside.content--aside.intro-image

  p All classes are by assignment and are held weekly throughout the year with the expect of a winter weather break - The dojo is unheated and Michigan winters are harsh!

  p Special classes or changes to this schedule will be discussed in the respective classes. Please note, if there are 5 weeks in a given month, there will be no classes during the fifth week.

  p.special-offer.
    The USTRI Honbu dojo is currently offering a <span class="special-offer--free">free introductory month of training</span>. No contracts are required. Please see the contact information below to inquire about more details

  h4 Training Schedule

  ul.list
    li Saturday, 10:00am - 12:00pm (Mixed Level)
    li Saturday, 12:30pm -  2:30pm (Advanced)

  p If there is a desire for weekday classes, please contact the honbu dojo as arrangements can be made.

  h4 Contact Information

  .instructor-info
    h5.instructor-info--name Thomas Hufnagel (Gensui) - 5<sup>th</sup> Degree
    ul
      li USTRI Director of Operations
      li USTRI Honbu Branch Manager
      li USTRI Instructor
      li.instructor-info--email Email: #[a(href="mailto:hufnagelt@gmail.com")  hufnagelt@gmail.com]

section.content
  h3#sem Southeast Michigan Branch Dojo - Clarkston, Michigan

  p The Southeast Michigan Branch dojo holds class at Independence Township Parks and Recreation's Bay Court Park facility. Classes are ran on a monthly schedule.

  aside.content--aside.intro-image

  p To sign up for classes, please contact Independence Twp. Park &amp; Rec at #[a(href="tel:2486258223") (248) 625-8223] or online at #[a(href="www.itpr.org") itpr.org]. Class is usually on break during August and the last half of Decemeber. After contacting Parks &amp; Rec, please contact the Southeast Michigan dojo so we can prepare beginner materials for your first class!

  h4 Training Schedule

  ul.list
    li Wednesday, 7:00pm - 9:00pm (Mixed Level)

  h4 Contact Information

  .instructor-info
    h5.instructor-info--name Scott Sier (Genfu) - 5<sup>th</sup> Degree
    ul
      li USTRI Southeast Michigan Branch Manager
      li USTRI Instructor
      li.instructor-info--email Email: #[a(href="mailto:spsier@gmail.com")  spsier@gmail.com]

section.content

  h3 Instructors

  ul.list.list--instructors
    li
      h4.instructor-info--name Michael Alexanian (Gennan Buhaku)  - 7<sup>th</sup> Degree

      ul
        li USTRI General Manager
        li Genwakai Shihan (Head Instructor)
        li USTRI Board of Directors
        li.instructor-info--email Email: #[a(href="mailto:alexgennan@att.net") alexgennan@att.net]
    li
      h4.instructor-info--name Thomas Hufnagel (Gensui) - 5<sup>th</sup> Degree

      ul
        li USTRI Director of Operations
        li USTRI Honbu Branch Manager
        li USTRI Instructor
        li USTRI Board of Directors
        li.instructor-info--email Email: #[a(href="mailto:hufnagelt@gmail.com")  hufnagelt@gmail.com]

    li
      h4.instructor-info--name William Smith (Genka) - 5<sup>th</sup> Degree

      ul
        li USTRI Honbu Assistant Branch Manager
        li USTRI Instructor
        li USTRI Board of Directors
        li.instructor-info--email Email: #[a(href="mailto:alexgennan@att.net") alexgennan@att.net]

    li
      h4.instructor-info--name Douglas Jarrett (Genchi) - 5<sup>th</sup> Degree

      ul
        li USTRI Honbu Assistant Branch Manager
        li USTRI Instructor
        li USTRI Board of Directors
        li.instructor-info--email Email: #[a(href="mailto:alexgennan@att.net") alexgennan@att.net]

    li
      h4.instructor-info--name Scott Sier (Genfu) - 5<sup>th</sup> Degree

      ul
        li USTRI Southeast Michigan Branch Manager
        li USTRI Instructor
        li USTRI Board of Directors
        li.instructor-info--email Email: #[a(href="mailto:spsier@gmail.com") spsier@gmail.com]

    li
      h4.instructor-info--name Douglas Jarrett (Genchi) - 5<sup>th</sup> Degree

      ul
        li USTRI Honbu Assistant Branch Manager
        li USTRI Instructor
        li USTRI Board of Directors
        li.instructor-info--email Email: #[a(href="mailto:USTRI-SE-MI@ustamiyaryu.org") USTRI-SE-MI@ustamiyaryu.org]


section.content

  h3 Members

  img.img-responsive.center-block(src="images/2014-ustri-koshushinsakai.png")

  div.container--fluid
    div.col-sm-6
      h4.members-degree Seventh Degree (Nanadan)
      ul.list--unordered.list--members
        li Michael Alexanian (Gennan Buhaku)

      h4.members-degree Fifth Degree (Godan)
      ul.list--unordered.list--members
        li Diane Alexanian (Genan)
        li William Smith (Genka)
        li Thomas Hufnagel (Gensui)
        li Scott Sier (Genfu) *
        li Daniel Mordan (Genzan) *
        li Douglas Jarrett (Genchi)

      h4.members-degree Fourth Degree (Yondan)
      ul.list--unordered.list--members
        li Joseph Smith
        li James Corona
        li James Russell *
        li Cynthia Sifonis *

      h4.members-degree Third Degree (Sandan)
      ul.list--unordered.list--members
        li Joseph Gallagher
        li Daniel Wung *
        li Jim Fiss *
        li Ralph Sirlin *

    div.col-sm-6
      h4.members-degree Second Degree (Nidan)
      ul.list--unordered.list--members
        li Edmund Sajewski
        li Michael Montgomery
        li Andrew McMurphy
        li Kana Taku *
        li Alex Wrobel *

      h4.members-degree First Degree (Shodan)
      ul.list--unordered.list--members
        li Jason Kilgore *
        li James Happell *
        li Brian McKay
        li Elizabeth Thompson
        li Jason Henwood *
        li Matthew Cacciutti *

      h4.members-degree First Grade (Ikkyu)
      ul.list--unordered.list--members
        li Aaron Cozadd *
        li Raymond Bowdish *
        li Bryan Cochren *

      h4.members-degree Ungrade (Sandan)
      ul.list--unordered.list--members
        li Yi Jiang
        li Subei Mei
        li Tatiana Panina
        li Marc Burger
        li Rebecca Burger




include ./partials/_footer.jade