doctype html
html
  head
    link(rel='stylesheet', href='style.css')
  body
    h1 United States Tamiya Ryu Iaijutsu
    header
      nav
        a.site-nav.site-nav--current(href="/") home
        a.site-nav(href="/history.html") history
    h2 Home