include ./partials/_header.jade

section.content
  h2 Resources

  h3 Message from the Head Instructor

  include ./articles/message.jade

section.content
  h3 Articles

  h4 Reflecting Pool

  ul.list--unordered
    li
      a.resource--link(href='/articles/reflecting-pool/kanreki.html') Kanreki
    li
      a.resource--link(href='/articles/reflecting-pool/medium-of-kata.html') Medium of Kata
    li
      a.resource--link(href='/articles/reflecting-pool/kiai-in-tamiya-ryu.html') Kiai In Tamiya Ryu
    li
      a.resource--link(href='/articles/reflecting-pool/being-passionate.html') Being Passionate About What You Do
    li
      a.resource--link(href='/articles/reflecting-pool/nyunanshin.html') Nyunanshin - Pilable Mind
    li
      a.resource--link(href='/articles/reflecting-pool/a-new-dawn.html') The Dawn of a New Decade

section.content
  h3 Links

  h4 Martial Arts Organizations
  ul.list--unordered
    li
      a.resource--link(href='http://tamiyaryuiaizyutu.web.fc2.com/') Tamiya Ryu Iaijutsu Genwakai (Japanese)
  h4 Suppliers
  ul.list--unordered
    li
      a.resource--link(href='http://www.budo-aoi.com/') Budo Aoi
    li
      a.resource--link(href='http://www.chenessinc.com/') Cheness
    li
      a.resource--link(href='http://www.ebogu.com/') E-Bogu
    li
      a.resource--link(href='http://www.swordstore.com/') Swordstore
    li
      a.resource--link(href='http://www.tozando.com/') Tozando
  h4 Other Links
  ul.list--unordered
    li
      a.resource--link(href='http://www.akagirestaurant.com/') Akagi Restaurant
    li
      a.resource--link(href='http://www.houserice.com/') House of Rise
    li
      a.resource--link(href='http://www.koryubooks.com/') Koryu Books
    li
      a.resource--link(href='http://www.detroit.us.emb-japan.go.jp/') Consulate General of Japan in Detroit, Michigan
    li
      a.resource--link(href='http://www.jnto.go.jp/') Japan National Tourist Organiztion
    li
      a.resource--link(href='http://www.mishiga.org/') Michigan - Shiga Sister State Program

section.content
  h3 Reading List

  ul.list--unordered
    li Living the Japanese Arts &amp; Ways - H.E. Davey
    li In the Dojo - Dave Lowry
    li Hagakure - Yamamoto Tsunetomo
    li A Book of Five Rings (Go Rin no Sho) - Miyamoto Musashi
    li Bushido: The Warrior's Code - Nitobe Inazo
    li Japanese Swordsmanship - Warner &amp; Draeger
    li The 47 Ronin Story - John Allyn
    li The Unfettered Mind - Takuan Soho
    li Secrets of the Samurai - Ratti &amp; Westbrook
    li Legends of the Samurai - Sato Hiroaki
    li The Art of War - Sun Tzu

include ./partials/_footer.jade