include ./partials/_header.jade

section.content
  h2 Resources

  h3 Message from the Head Instructor

  include ./articles/message.jade

div.container--fluid
  div.content
    div.col-lg-4
      h3 Articles

      h4 Reflecting Pool

      ul.list--unordered
        li
          a.resource--link(href='/articles/reflecting-pool/kanreki.html') Kanreki
        li
          a.resource--link(href='/articles/reflecting-pool/medium-of-kata.html') Medium of Kata
        li
          a.resource--link(href='#') links

      h4 Instructor Forum

      ul.list--unordered
        li
          a.resource--link(href='#') links
        li
          a.resource--link(href='#') links
        li
          a.resource--link(href='#') links

      h4 Student Views

      ul.list--unordered
        li
          a.resource--link(href='#') link
        li
          a.resource--link(href='#') links
        li
          a.resource--link(href='#') links


    div.col-lg-4
        h3 Resources

        ul.list--unordered
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links

    div.col-lg-4
        h3 Reading List

        ul.list--unordered
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links
          li
            a.resource--link(href='#') links

include ./partials/_footer.jade