footer
  a(href="/") USTRI logo
  a(href="/history.html") History

  p The United States Tamiya Ryu Iaijutsu Organziation is an officailly recognized branch of the Genwakai in Japan.

  script(src="//localhost:35729/livereload.js")