footer.footer

  aside.footer-image

    nav.footer-nav
      a(href="/") Home
      a(href="/dojo.html") Dojo
      a(href="/history.html") History
      a(href="/history.html") Resources

    p.footer-image-content The United States Tamiya Ryu Iaijutsu Organziation is an officailly recognized branch of the Genwakai in Japan.


  script(src="//localhost:35729/livereload.js")