doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="style.css", type="text/css")
  body

    header.site-header
      h1.site-title
        a.site-nav--home(href="/")
         div.site-title--name
            div.site-title--name-line
              span.site-nav--name-line United States
            div.site-title--name-line
              span.site-nav--name-line Tamiya Ryu Iaijutsu

      nav.site-nav
        a.site-nav--link(href="/history.html") History
        a.site-nav--link(href="/history.html") Resources
        a.site-nav--link(href="/history.html") Dojo?